/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); /* Inter font */

@font-face {
    /*Bebas-neue font*/
    font-family: Moon-walk;
    src: url(./assets/fonts/BebasNeue-Regular.ttf);
  }
  
  /* Global Styles */
  body {
    background-color: #0c0e10;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    user-select: none;
  }

  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
  }

  /* Header Styles */
 

  /* Footer Styles */
  #footer {
    min-height: 108px;
    background: var(--black);
    padding: 2vw 10vw;
  }
  
  #footer-left {
    max-width: 587px;
  }
  
  #footer-text {
    max-width: 527px;
    color: var(--light);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
  }
  
  #footer-right {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
  }

  /* Section5 Styles */
  #section5 {
    text-align: center;
  }

  @media (max-width: 400px) {
    .custom-mx {
      margin-left: 3vw;
      margin-right: 3vw;
    }
  
    .nav-reg {
      margin-right: -40px;
    }
  }

 

  @media (max-width: 480px) {
  
    #footer {
      padding: 6vw 5vw 12vw;
    }

    .sub-heading {
      font-size: 18px;
    }
  
    .heading {
      font-size: 42px;
    }
  }